.appointment-date--container {
    padding-left: 0!important;
}

.appointment-date--datePicker {
    padding-left: 0!important;
}

.help-text--error {
    color: var(--rs-red-500)!important;
}