html, body, #root, #root>div {
    height: 100%;
}

.container {
    height: 100%;
}

.rs-form-group {
    margin-bottom: 35px!important;
}

.rs-container-has-sidebar {
    height: initial;
}